{% extends 'base.html' %}

{% block title %}
    My Simple Calculator
{% endblock %}

{% block calculator %}
    <h4>Calculator</h4>
    <div class="container">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <button type="button" class="col btn btn-outline-secondary" onclick="display(value=1)">1</button>
                            <button type="button" class="col btn btn-outline-secondary" onclick="display(value=2)">2</button>
                            <button type="button" class="col btn btn-outline-secondary" onclick="display(value=3)">3</button>
                        </div>
                        <div class="row">
                            <button type="button" class="col btn btn-outline-secondary" onclick="display(value=4)">4</button>
                            <button type="button" class="col btn btn-outline-secondary" onclick="display(value=5)">5</button>
                            <button type="button" class="col btn btn-outline-secondary" onclick="display(value=6)">6</button>
                        </div>
                        <div class="row">
                            <button type="button" class="col btn btn-outline-secondary" onclick="display(value=7)">7</button>
                            <button type="button" class="col btn btn-outline-secondary" onclick="display(value=8)">8</button>
                            <button type="button" class="col btn btn-outline-secondary" onclick="display(value=9)">9</button>
                        </div>
                        <div class="row">
                            <button type="button" class="col btn btn-outline-secondary" onclick="display(value='.')">.</button>
                            <button type="button" class="col btn btn-outline-secondary" onclick="display(value=0)">0</button>
                            <button type="button" class="col btn btn-outline-warning" onclick="removeLast()">C</button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <button type="button" class="col btn btn-outline-info" onclick="display(value='(')">(</button>
                            <button type="button" class="col btn btn-outline-info" onclick="display(value=')')">)</button>
                        </div>
                        <div class="row">
                            <button type="button" class="col btn btn-outline-info" onclick="display(value='+')">+</button>
                            <button type="button" class="col btn btn-outline-info" onclick="display(value='-')">-</button>
                        </div>
                        <div class="row">
                            <button type="button" class="col btn btn-outline-info" onclick="display(value='*')">*</button>
                            <button type="button" class="col btn btn-outline-info" onclick="display(value='/')">/</button>
                        </div>
                        <div class="row">
                            <button type="button" class="col btn btn-outline-info" onclick="display(value='^')">^</button>
                            <button type="button" class="col btn btn-outline-danger" onclick="clearInput()">CE</button>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin: 1rem 1rem 1rem 0.4rem">
                <input class="btn btn-primary" type="submit" value="Calculate">
                <a class="btn btn-outline-danger" href="{% url 'calculate' %}">Clear</a>
            </div>
        </form>
    </div>
{% endblock %}

{% block postfix_result %}
    {% if postfix %}
        <div class="alert alert-primary" role="alert" style="font-family: monospace">
            Postfix: {{ postfix|linebreaks }}
        </div>
    {% endif %}
    {% if answer is not None %}
        <div class="alert alert-success" role="alert" style="font-family: monospace">
            Answer: {{ answer }}
        </div>
    {% endif %}
    {% if errors %}
        <div class="alert alert-danger" role="alert" style="font-family: monospace">
            {{ errors }}
        </div>
    {% endif %}
{% endblock %}

{% block sidebar %}
    {% if history %}
        {% for hist in history %}
            <div class="alert alert-info" role="alert" style="font-family: monospace">
                {{ hist|truncatechars:40 }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
