{% extends 'base.html' %}

{% block title %}
    My Simple Calculator
{% endblock %}

{% block calculator %}
    <h1 style="font-family: 'Arial',serif">Simple Calculator</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <button class="col btn btn-outline-secondary" value="1">1</button>
                        <button class="col btn btn-outline-secondary" value="2">2</button>
                        <button class="col btn btn-outline-secondary" value="3">3</button>
                    </div>
                    <div class="row">
                        <button class="col btn btn-outline-secondary" value="4">4</button>
                        <button class="col btn btn-outline-secondary" value="5">5</button>
                        <button class="col btn btn-outline-secondary" value="6">6</button>
                    </div>
                    <div class="row">
                        <button class="col btn btn-outline-secondary" value="7">7</button>
                        <button class="col btn btn-outline-secondary" value="8">8</button>
                        <button class="col btn btn-outline-secondary" value="9">9</button>
                    </div>
                    <div class="row">
                        <button class="col btn btn-outline-secondary" value="0">0</button>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <button class="col btn btn-outline-info" value="(">(</button>
                        <button class="col btn btn-outline-info" value=")">)</button>
                    </div>
                    <div class="row">
                        <button class="col btn btn-outline-info" value="+">+</button>
                        <button class="col btn btn-outline-info" value="-">-</button>
                    </div>
                    <div class="row">
                        <button class="col btn btn-outline-info" value="*">*</button>
                        <button class="col btn btn-outline-info" value="/">/</button>
                    </div>
                    <div class="row">
                        <button class="col btn btn-outline-info" value="^">^</button>
                        <button class="col btn btn-outline-info" value="C">C</button>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin: 1rem 1rem 1rem 0.4rem">
            <input class="btn btn-primary" type="submit" value="Calculate">
            <a class="btn btn-outline-danger" href="{% url 'calculate' %}">Clear</a>
        </div>
    </form>
{% endblock %}

{% block postfix_result %}
    {% if postfix %}
        <div class="alert alert-primary" role="alert">
            Postfix: {{ postfix }}
        </div>
    {% endif %}

    {% if answer is not None %}
        <div class="alert alert-success" role="alert">
            Answer: {{ answer }}
        </div>
    {% endif %}
    {% if errors %}
        <div class="alert alert-danger" role="alert">
            {{ errors }}
        </div>
    {% endif %}
{% endblock %}

{% block sidebar %}
    {% if input %}
        <div class="alert alert-info" role="alert">
            {{ input }}
        </div>
    {% endif %}
{% endblock %}
