<div class="container">
    <div class="row">
        <div class="col">
            <div class="row">
                <button type="button" class="col btn btn-outline-secondary" onclick="display(value=1)">
                    <i class="bi bi-1-circle-fill"></i>
                </button>
                <button type="button" class="col btn btn-outline-secondary" onclick="display(value=2)">
                    <i class="bi bi-2-circle-fill"></i>
                </button>
                <button type="button" class="col btn btn-outline-secondary" onclick="display(value=3)">
                    <i class="bi bi-3-circle-fill"></i>
                </button>
            </div>
            <div class="row">
                <button type="button" class="col btn btn-outline-secondary" onclick="display(value=4)">
                    <i class="bi bi-4-circle-fill"></i>
                </button>
                <button type="button" class="col btn btn-outline-secondary" onclick="display(value=5)">
                    <i class="bi bi-5-circle-fill"></i>
                </button>
                <button type="button" class="col btn btn-outline-secondary" onclick="display(value=6)">
                    <i class="bi bi-6-circle-fill"></i>
                </button>
            </div>
            <div class="row">
                <button type="button" class="col btn btn-outline-secondary" onclick="display(value=7)">
                    <i class="bi bi-7-circle-fill"></i></button>
                <button type="button" class="col btn btn-outline-secondary" onclick="display(value=8)">
                    <i class="bi bi-8-circle-fill"></i>
                </button>
                <button type="button" class="col btn btn-outline-secondary" onclick="display(value=9)">
                    <i class="bi bi-9-circle-fill"></i>
                </button>
            </div>
            <div class="row">
                <button type="button" class="col btn btn-outline-secondary" onclick="display(value='.')">
                    <i class="bi bi-dot"></i>
                </button>
                <button type="button" class="col btn btn-outline-secondary" onclick="display(value=0)">
                    <i class="bi bi-0-circle-fill"></i>
                </button>
                <button type="button" class="col btn btn-warning" onclick="removeLast()">
                    <i class="bi bi-backspace-fill"></i>
                </button>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <button type="button" class="col btn btn-outline-info" onclick="display(value='(')"><strong>(</strong>
                </button>
                <button type="button" class="col btn btn-outline-info" onclick="display(value=')')"><strong>)</strong>
                </button>
            </div>
            <div class="row">
                <button type="button" class="col btn btn-outline-info" onclick="display(value='+')">
                    <i class="bi bi-plus-circle-fill"></i>
                </button>
                <button type="button" class="col btn btn-outline-info" onclick="display(value='-')">
                    <i class="bi bi-dash-circle-fill"></i>
                </button>
            </div>
            <div class="row">
                <button type="button" class="col btn btn-outline-info" onclick="display(value='*')">
                    <i class="bi bi-x-circle-fill"></i>
                </button>
                <button type="button" class="col btn btn-outline-info" onclick="display(value='/')">
                    <i class="bi bi-slash-circle-fill"></i>
                </button>
            </div>
            <div class="row">
                <button type="button" class="col btn btn-outline-info" onclick="display(value='^')">
                    <i class="bi bi-arrow-up-circle-fill"></i>
                </button>
                <button type="button" class="col btn btn-danger" onclick="clearInput()">
                    <i class="bi bi-eraser-fill"></i>
                </button>
            </div>
        </div>
    </div>
</div>